body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
#root{
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.liam-header{
  min-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  flex-grow: 0;
  padding: 5px;
}
.logo{
  margin:0 0 0 20px;
  font-weight:500;
  font-size:1.25rem;
  line-height:1.6;
  letter-spacing:0.0075em;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:inherit;
  margin-right:16px;
  font-family:monospace;
  font-weight:700;
  letter-spacing:.3rem;
  text-decoration:none;
}
.button-a{
  display:inline-flex;
  -webkit-box-align:center;
  align-items:center;
  -webkit-box-pack:center;
  justify-content:center;
  position:relative;
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
  background-color:transparent;
  outline:0px;
  margin:0px;
  cursor:pointer;
  user-select:none;
  vertical-align:middle;
  appearance:none;
  text-decoration:none;
  font-family:font-b-1kJr4L, Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size:0.8125rem;
  line-height:1.75;
  letter-spacing:0.02857em;
  text-transform:uppercase;
  min-width:64px;
  padding:3px 9px;
  border-radius:4px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border:1px solid rgba(25, 118, 210, 0.5);
  color:rgb(25, 118, 210);
}
.button-a:hover{
  text-decoration:none;
  background-color:rgba(25, 118, 210, 0.04);
  border:1px solid rgb(25, 118, 210);
}


.divider-a{
  position:relative;
  top:-.06em;
  display:inline-block;
  height:1em;
  margin:0 8px;
  vertical-align:middle;
  border-top:0;
  border-left:1px solid #aaa;
}
.liam-header .button-a{
  margin: 5px 2px;
}


.liam-body{
  flex-grow: 1;

  display: flex;
}
.liam-footer{
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-top: 1px solid #aaa;
  flex-grow: 0;
  font-size: 12px;
  padding: 0 10px;
}
.liam-footer .status{
  margin: 0 2px 0 10px;
}
.liam-footer .status-saved{
  color: green;
}
.liam-footer .status-changed{
  color: brown;
}
.liam-footer .trigger{
  float:right;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.liam-notice {
  font-size: 12px;
  min-width:200px;
  max-width: 40%;
  max-height: 50vh;
  overflow: hidden;
  position: fixed;
  bottom: 29px;
  right: 0;
  border: 1px solid #aaa;
  z-index: 99;
  display: none;
  background: #fff;
}
.liam-notice p{
  margin:10px 0;
  padding: 5px 0;
  border-bottom: 1px solid #bbb;
}
.liam-notice p:last-child{
  border-bottom: none;
}
.liam-notice-show{
  display:block;
}
.liam-notice-hd, .liam-notice-bd{
  padding: 10px;
}
.liam-notice-hd {
  background: #eee;
}
.liam-notice-bd{
  overflow: auto;
}
.liam-body-menu {
  width: 50px;
  box-sizing: border-box;
  height: 100%;
  border-right: 1px solid #aaa;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}
.liam-body-menu .item{
  text-decoration: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #eee;
  color: rgb(25, 118, 210);
}
.liam-body-content {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;

  display: flex;

  position: relative;
}
.liam-body-content .Pane{
    overflow:hideen;
}
.preview-iframe{
  width: 100%;
  height: 100%;
}
#editor{
  width: 100%;
  height: 100%;
}

.Resizer {
  background: #aaa;
  /* opacity: 0.2; */
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
.liam-glyph-margin {
  background: #03d47926;
}
.liam-line-content {
  background: #03d47926;
}
.liam-inline-decoration {
    font-weight: 900;
    font-weight:bold;
    background: #03d47926;
}
.liam-line-decoration {
    background: #03d479af;
    width: 3px !important;
    margin-left: 5px;
    cursor: pointer;
}
/*.liam-first-line-decoration{
  background: #03d479af;
  width: 100%;
  margin-left: 5px;
  cursor: pointer;
}*/
.liam-line-decoration:hover {
  width: 20px !important;
  margin-left: -12px;
}
.liam-viewzone {
  background: #03d479af;
  box-sizing: border-box;
  border: 7px solid #fff;
  border-width: 7.5px 0;
}

.screen-root {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
}

ul {
      background-color: #fff;
      margin: 0 auto;
      padding: 20px;
      width:80%;
}

li {
      background-image: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
      width: 100%;
      height:18px;
      list-style: none;
      background-size: 400% 100%;
      margin-top: 10px;
      background-position: 100% 50%;
      animation: skeleton-loading 2s ease infinite;
}

li:first-child {
    width: 30%;
}
li:last-child {
    width: 40%;
}
li:nth-child(3n+1) {
  width: 30%;
}
li:nth-child(5n+1) {
  width: 20%;
}
li:nth-child(6n+1) {
  width: 40%;
}
li:nth-child(8n+1) {
  width: 50%;
}
@keyframes skeleton-loading {
      0% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0 50%;
      }
}